.contact-table-container {
  min-width: 300px;
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
}

.contact-table-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.new-contact-button {
  display: flex;
  align-items: center;
  min-width: 145px;

  .icon {
    margin-right: 0.5rem;
  }
}

.person-icon-container {
  position: relative;
}

.person-icon {
  margin: 0;
  position: absolute;
  left: 50%;
  top: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.contact-table-filter {
  width: 150px;
  padding-left: 1rem;
  overflow: hidden;
}

.contact-filter-input {
  color: black;
}

.contact-table {
  width: 100%;
}

th.mat-header-cell:first-of-type, td.mat-cell:first-of-type {
  padding-left: 16px;
  padding-right: 16px;
  width: 25px;
}

td.mat-footer-cell:first-of-type {
  width: 1px;
}

.summary-row {
  color: rgba(0,0,0,.50);
}

tr.contact-row {
  cursor: pointer;
}

tr.contact-row:hover {
  background: #efefef;
}

tr.contact-row.active {
  background: #bee9e2;
}
