<div class="contact-list-container">

  <button mat-raised-button color="primary" class="new-contact-button" (click)="openNewContactWindow()">
    <mat-icon matSuffix class="icon" aria-label="New contact icon">person_add</mat-icon>
    <span>Add Contact</span>
  </button>

  <div class="contacts-list-container mat-elevation-z8">
    <div id="empty-message" *ngIf="contacts.length === 0; else contactList">
      Your contact book is empty
    </div>

    <ng-template #contactList>
      <cdk-virtual-scroll-viewport [itemSize]="50" class="contacts-virtual-scroll">
        <div *ngFor="let contact of contacts;"
             class="contact-item"
             [ngClass]="{active: contact.id === selectedContactId}"
             (click)="openContactDetailWindow(contact)">
          <mat-icon matSuffix class="contact-icon">person</mat-icon>
          <div>{{contact|contactFullName}}</div>
        </div>
      </cdk-virtual-scroll-viewport>
    </ng-template>
  </div>

</div>
