.contact-table-container {
  min-width: 300px;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}

.contact-table-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.new-contact-button {
  display: flex;
  align-items: center;
  min-width: 145px;

  .icon {
    margin-right: 0.5rem;
  }
}

.contact-table-filter {
  width: 300px;
  padding-left: 1rem;
  overflow: hidden;
}

.contact-filter-input {
  color: black;
}

.contact-table {
  width: 100%;
}

th.mat-header-cell:first-of-type, td.mat-cell:first-of-type {
  padding-left: 24px;
  padding-right: 24px;
  width: 1px;
}

td.mat-footer-cell:first-of-type {
  width: 1px;
}

.summary-row {
  color: rgba(0,0,0,.50);
}

tr.contact-row {
  cursor: pointer;
}

tr.contact-row:hover {
  background: #efefef;
}
